body{
    background-color: white;
    margin: 0;
    padding: 0;
}


h1, h2{
    color: black;
    margin-bottom: 20px;
}

p {
    color:black;
    
}
.logo{
    width:70;
    

;
    align-items: center;
    justify-content: center;
}

nav{
    
    display: flex;

    flex-direction: column;
}