body{

    background-color: #240046;
    background-image: url('ChatGPT\ Image\ 7_04_2025\,\ 21_15_52.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}